{% layout "layout.liquid" %}
{% block content %}

<nav class="breadcrumb container" aria-label="breadcrumbs">
  <ul>
    <li><a href="/days"><i class="fa fa-home"></i>&nbsp;&nbsp;Days</a></li>
    <li><a href="/days/new"><i class="fas fa-plus"></i>&nbsp;&nbsp;New Day</a></li>
  </ul>
</nav>
<div class="container box has-text-centered">
  <form action="/days" method="post">
    <fieldset>
      <legend class="title is-3">Keep up your progress</legend>
      <input class="button is-warning is-rounded mb-3" type="reset" value="Reset">
      <div class="columns is-centered is-mobile">
        <div class="column is-one-fifth">
          <label class="label">
            Day #
          </label>
          <input class="input has-text-centered" type="text" name="name" value="{{ newDay }}" />
          </div>
        </div>
      
      <div class="control">
        <div class="select is-multiple">
          <label class="label">
            Workout Type
          </label>
          <select class="mb-4" name="workoutType">
            
            <option class="p-4"
            {% assign mod = newDay | modulo: 5 %}
            {% if mod == 0 or mod == 2 %}
              selected value="Rest"
            {% endif %}
            >Rest
            </option>

            <option class="p-4"
            {% if mod == 1 %}
              selected value="Pull"
            {% endif %}
            >Pull
            </option>

            <option class="p-4"
            {% if mod == 3 %}
              selected value="Push"
            {% endif %}
            >Push
            </option>

            <option class="p-4"
            {% if mod == 4 %}
              selected value="Legs"
            {% endif %}
            >Legs
            </option>

          </select>
        </div>
      </div>

    </fieldset>
    <input class="button is-primary mt-4 is-rounded" type="submit" value="Let's begin">
  </form>
</div>

{% endblock %}
