{% layout "layout.liquid" %}
{% block content %}

<nav class="breadcrumb container" aria-label="breadcrumbs">
  <ul>
    <li><a href="/days"><i class="fa fa-home"></i>&nbsp;&nbsp;Days</a></li>
    <li><a href="/days/new"><i class="fas fa-plus"></i>&nbsp;&nbsp;New Day</a></li>
  </ul>
</nav>
<div class="container box has-text-centered">
  <form action="/days" method="post">
    <fieldset>
      <legend class="title is-3">Keep up your progress</legend>
      <input class="button is-warning is-rounded mb-3" type="reset" value="Reset">
      <input class="button is-primary is-rounded mb-3 ml-5" type="submit" value="Let's begin">

      <div class="columns is-centered is-mobile">
        <div class="column is-one-fifth">
          <label class="label">
            Day #
          </label>
          <input class="input has-text-centered" type="text" name="name" value="{{ newDay }}" autofocus />
        </div>
      </div>

      <!-- <div class="field"> -->
        <div class="control">
          <div class="select">
            <label class="label">
              Workout Type
            </label>
            <select name="workoutType">
              
              {% assign mod = newDay | modulo: 5 %}
              
              <option
              {% if mod == 0 or mod == 2 %}
                selected value="Rest"
              {% endif %}
              >Rest
              </option>
  
              <option
              {% if mod == 1 %}
                selected value="Pull"
              {% endif %}
              >Pull
              </option>
  
              <option
              {% if mod == 3 %}
                selected value="Push"
              {% endif %}
              >Push
              </option>
  
              <option
              {% if mod == 4 %}
                selected value="Legs"
              {% endif %}
              >Legs
              </option>
  
            </select>
          </div>
        </div>
      <!-- </div> -->
      <br><br>


    </fieldset>
  </form>
</div>

{% endblock %}
