{% layout "layout.liquid" %}
{% block auth %}


<div class="container mb-5">
  <!-- <a href="/" class="button is-rounded is-link is-light block m-2">Home</a> -->
  <div class="buttons has-addons is-centered m-5">
    <a href="/auth/login" id="login-button" class="button is-link is-light block is-medium has-text-weight-bold">Login</a>
    <a href="/auth/signup" id="signup-button" class="button is-link block is-medium has-text-weight-bold">Sign Up</a>
    <h1 class="block title is-2 mt-6 has-text-centered">
      Welcome to gymrift! We're glad you're here, and you will be too.
    </h1>
    <p class="content block mt-3 is-size-5 has-text-centered">
      Our goal is to maximize your bodybuilding efforts through the time-tested 3 day pull/push/legs workout split favorited by bodybuilding giants such as Arnold Schwarzenegger.
    </p>
    <p class="content block mt-3 is-size-5 has-text-centered">
      The first 5 days are pre-filled with suggested exercises, but feel free to change these up as you'd like.
    </p>
    <p class="content block mt-3 mb-6 is-size-5 has-text-centered">
      When starting a new day of exercises, the next suggested workout is applied, but again feel free to adjust to your liking.
    </p>
  </div>
</div>



{% endblock %}
