<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/styles.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://apis.google.com/js/api.js"></script>
  <script src="/app.js" defer></script>
  <title>Do it to it</title>
</head>
<body>

  <header class="title is-1 has-text-centered">
    gymrift<span class="title is-6 p-2">3 day split</span>
  </header>

  {% if main == true %}
    {% comment %} if user is NOT logged in, display links to log in {% endcomment %}
    
    <main>
      {% block auth %}{% endblock %}
    </main>

  {% else %}
    {% comment %} if user is logged in, display the main content {% endcomment %}
    <main>
      <div class="container">
        <a href="/auth/logout" id="logout-button" class="button is-pulled-right is-rounded">Logout</a>
      </div>
      {% block content %}{% endblock %}
    </main>
    {% endif %}
    
    
  <footer class="container mt-5 has-text-centered">
    Site by Nathan Noack &nbsp;&nbsp;|&nbsp;&nbsp; Atlanta, GA 2021 &nbsp;&nbsp;|&nbsp;&nbsp; All rights reserved
  </footer>

</body>
</html>
